architectures:
  - amd64

keyservers:
  - keyserver.ubuntu.com
  - pgp.mit.edu
  - ha.pool.sks-keyservers.net

mirrors:
  ros2:
      url: http://packages.ros.org/ros2/ubuntu
      distributions:
        - {{ distribution }}
      components:
        - main
      keys:
        - C1CF6E31E6BADE8868B172B4F42ED6FBAB17C654
      filters:
        - Name (% rti-connext-dds* )
        - Name (% python3-ament* )
        - Name (% python3-colcon* )
        - Name (% python3-ifcfg )
        - Name (% python3-catkin-pkg)
        - Name (% python3-catkin-tools)
        - Name (% python3-rosdep)
        - Name (% python3-rosdistro)
        - Name (% python3-rospkg)
        - Name (% python3-vcstool)
        - Name (% python3-osrf-pycommon)
        - Name (% ceres* ) | Name (% libceres* )
        - Name (% python-pyside* ) | Name (% libpyside* ) | Name (% pyside* )
        - Name (% libshiboken* ) | Name (% shiboken* )
        - Name (% libignition-cmake2-dev )
        - Name (% libignition-math6-dev )
